<h1>About the author</h1>
<p>This wonderful web application is brought to you by,</p>
<h2>Kevin LeBlanc</h2>

<nav>
  <ul>
    <li><a href="http://localhost:4567/"><h2>HOME</h2></a></li>
    <li><a href="http://localhost:4567/contacts"><h2>CONTACTS</h2></a></li>
  </ul>
</nav>
