<h1>CONTACTS</h1>
<ul>
  <% @contacts.each do |contact| %>
  <li>
    <h3><%= contact.full_name %></h3>
    <p><%= contact.email %></p>
    <p><%= contact.note %></p>
  </li>
  <% end %>
</ul>

<nav>
  <ul>
    <li><a href="http://localhost:4567/"><h2>HOME</h2></a></li>
    <li><a href="http://localhost:4567/about"><h2>ABOUT</h2></a></li>
  </ul>
</nav>
