<div class="contact-card">
  <li>
    <h3 class="contact-name"><%= @contact.full_name %> (<%= @contact.email %>)</h3>
    <p class="note"><%= @contact.note %></p>
    <p class="options"><a href="#">Edit</a> | <a href="#">Delete</a></p>
  </li>
</div>
